/** =========================================
 * Color Picker
 ===========================================*/

.iris-container {
	position: relative;
}

.iris-container .ui-widget-content {
	background: transparent none;
}

.iris-container .ui-slider-vertical {
	width: auto;
	height: auto;
}

.iris-container .ui-slider-vertical .ui-slider-handle {
	margin-bottom: 0;
}

.iris-container .iris-color-label {
	margin: 0;
}

.iris-container .iris-color-label .ss-ui-button {
	font-size: 0.9em;
	padding: 5px 10px;
	border-right-width: 0;
	padding: 5px 10px;
	margin-right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: block;
}

.iris-container .iris-color-label .ss-ui-button .ui-button-text {
	padding: 0;
}

.color.field .color-picker {
	font-size: 0.9em;
	width: auto;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: inline-block;
	padding: 5px 10px;
}

.iris-picker {
	position: absolute !important;
	z-index: 99999;
}

