.c-color-picker {
  position: relative;
  font-size: 0;
}

.c-color-picker__label {
  font-size: 13px;
  padding: 0.5385rem 1em;
  border: 1px solid #cbd3df;
  border-right-width: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  border-top-left-radius: 0.23rem;
  border-bottom-left-radius: 0.23rem;
}

.c-color-picker__text {

}

.c-color-picker__wrapper {
  display: inline-block;
  border-top-right-radius: 0.23rem;
  border-bottom-right-radius: 0.23rem;
}

.color.field .c-color-picker__input {
  border-color: rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.color.field .c-color-picker__input:focus {
  border-color: rgba(0, 0, 0, 0.25);
}

.iris-picker {
  position: absolute !important;
  z-index: 99999;
}
